The ACS launched in 2005 as a replacement to the Census Long Form. Unfortunately, the test run data from 2000-2004 is not geotagged beyond the state level.

In [93]:
import pandas as pd
import numpy as np
import os

In [94]:
os.chdir('/Users/sarwaridas/Desktop/IDS 702/Final Project/ids720_CoffeeAndCrimes')
df= pd.read_csv("02_processed_data/coffee_crime.csv")

In [95]:
df.isna().sum()

Unnamed: 0          0
Year                1
Community Area      1
crimes              1
CCA_name            1
timeperiod_x        1
CCA               452
year              452
coffeeshops       452
timeperiod_y      452
dtype: int64

In [96]:
df=df.drop(['Unnamed: 0', 'year','timeperiod_y','CCA'],axis=1)

In [97]:
df.head()

     Year  Community Area  crimes        CCA_name timeperiod_x  coffeeshops
0  2005.0             1.0   306.0     Rogers Park    2005-2009         12.0
1  2005.0             2.0   194.0      West Ridge    2005-2009         26.0
2  2005.0             3.0   227.0          Uptown    2005-2009         19.0
3  2005.0             4.0    85.0  Lincoln Square    2005-2009         48.0
4  2005.0             5.0    51.0    North Center    2005-2009         18.0

In [98]:
df.isna().sum()

Year                1
Community Area      1
crimes              1
CCA_name            1
timeperiod_x        1
coffeeshops       452
dtype: int64

In [99]:
#df.groupby(['timeperiod_x']).count()

In [100]:
import statsmodels.api as sm
import statsmodels.formula.api as smf
smf.ols("crimes ~ coffeeshops+ C(timeperiod_x)+ C(CCA_name)", data=df).fit().summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 crimes   R-squared:                       0.923
Model:                            OLS   Adj. R-squared:                  0.916
Method:                 Least Squares   F-statistic:                     145.4
Date:                Wed, 17 Nov 2021   Prob (F-statistic):               0.00
Time:                        10:53:54   Log-Likelihood:                -4167.3
No. Observations:                 779   AIC:                             8455.
Df Residuals:                     719   BIC:                             8734.
Df Model:                          59
Covariance Type:            nonrobust
=========================================================================================================
                                            coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------------------
Intercept                               193.4245     14.921     12.963      0.000     164.131     222.718
C(timeperiod_x)[T.2010-2014]            -55.0962      5.130    -10.740      0.000     -65.168     -45.024
C(timeperiod_x)[T.2015-2019]            -76.8724      4.943    -15.552      0.000     -86.576     -67.168
C(timeperiod_x)[T.2020]                -112.4336      8.175    -13.754      0.000    -128.482     -96.385
C(CCA_name)[T.Archer Heights]           -97.9042     20.809     -4.705      0.000    -138.758     -57.050
C(CCA_name)[T.Armour Square]            -57.1348     19.090     -2.993      0.003     -94.614     -19.656
C(CCA_name)[T.Ashburn]                   -3.5189     33.815     -0.104      0.917     -69.907      62.869
C(CCA_name)[T.Auburn Gresham]           308.3638     21.322     14.462      0.000     266.504     350.224
C(CCA_name)[T.Austin]                   837.6625     19.251     43.514      0.000     799.869     875.456
C(CCA_name)[T.Avalon Park]              -52.7144     20.854     -2.528      0.012     -93.657     -11.772
C(CCA_name)[T.Avondale]                  -5.8351     18.808     -0.310      0.756     -42.760      31.090
C(CCA_name)[T.Belmont Cragin]            83.1927     18.895      4.403      0.000      46.098     120.288
C(CCA_name)[T.Beverly]                 -104.5730     19.584     -5.340      0.000    -143.023     -66.123
C(CCA_name)[T.Bridgeport]               -89.5916     19.151     -4.678      0.000    -127.191     -51.993
C(CCA_name)[T.Brighton Park]            -20.1578     19.257     -1.047      0.296     -57.965      17.649
C(CCA_name)[T.Burnside]                -120.2399     19.221     -6.256      0.000    -157.975     -82.505
C(CCA_name)[T.Calumet Heights]        -3.324e-13   8.29e-14     -4.011      0.000   -4.95e-13    -1.7e-13
C(CCA_name)[T.Chatham]                 2.041e-13   2.94e-14      6.937      0.000    1.46e-13    2.62e-13
C(CCA_name)[T.Chicago Lawn]            2.031e-13   2.99e-14      6.803      0.000    1.44e-13    2.62e-13
C(CCA_name)[T.Clearing]                3.131e-14   1.41e-14      2.221      0.027    3.64e-15     5.9e-14
C(CCA_name)[T.Douglas]                   -2.0525     19.170     -0.107      0.915     -39.688      35.583
C(CCA_name)[T.Dunning]                  -95.8450     19.242     -4.981      0.000    -133.621     -58.069
C(CCA_name)[T.East Garfield Park]       141.4852     19.891      7.113      0.000     102.433     180.537
C(CCA_name)[T.East Side]              -1.788e-13   1.83e-14     -9.749      0.000   -2.15e-13   -1.43e-13
C(CCA_name)[T.Edgewater]                -14.1558     18.765     -0.754      0.451     -50.997      22.685
C(CCA_name)[T.Edison Park]             -128.8421     20.777     -6.201      0.000    -169.634     -88.051
C(CCA_name)[T.Englewood]                274.3821     20.264     13.541      0.000     234.599     314.165
C(CCA_name)[T.Forest Glen]             -146.3654     21.280     -6.878      0.000    -188.144    -104.587
C(CCA_name)[T.Fuller Park]             1.632e-14   7.82e-15      2.087      0.037    9.65e-16    3.17e-14
C(CCA_name)[T.Gage Park]                 -2.9331     22.589     -0.130      0.897     -47.282      41.416
C(CCA_name)[T.Garfield Ridge]           -73.5609     18.962     -3.879      0.000    -110.788     -36.334
C(CCA_name)[T.Grand Boulevard]        -1.118e-13   2.02e-14     -5.543      0.000   -1.51e-13   -7.22e-14
C(CCA_name)[T.Greater Grand Crossing] -3.562e-13   4.03e-14     -8.845      0.000   -4.35e-13   -2.77e-13
C(CCA_name)[T.Hegewisch]               5.044e-13   5.11e-14      9.875      0.000    4.04e-13    6.05e-13
C(CCA_name)[T.Hermosa]                -6.456e-14   1.02e-14     -6.324      0.000   -8.46e-14   -4.45e-14
C(CCA_name)[T.Humboldt Park]            285.5373     19.148     14.912      0.000     247.944     323.130
C(CCA_name)[T.Hyde Park]                -14.5968     18.811     -0.776      0.438     -51.529      22.335
C(CCA_name)[T.Irving Park]            -1.406e-13   2.99e-14     -4.704      0.000   -1.99e-13   -8.19e-14
C(CCA_name)[T.Jefferson Park]          -117.0798     19.192     -6.101      0.000    -154.758     -79.401
C(CCA_name)[T.Kenwood]                  -61.7944     19.267     -3.207      0.001     -99.622     -23.967
C(CCA_name)[T.Lake View]                159.2781     19.627      8.115      0.000     120.744     197.812
C(CCA_name)[T.Lincoln Park]              45.1659     19.113      2.363      0.018       7.642      82.689
C(CCA_name)[T.Lincoln Square]           -66.3949     18.758     -3.540      0.000    -103.221     -29.569
C(CCA_name)[T.Logan Square]             123.6719     18.747      6.597      0.000      86.867     160.477
C(CCA_name)[T.Loop]                     200.0998     25.645      7.803      0.000     149.752     250.447
C(CCA_name)[T.Lower West Side]          -39.3542     18.887     -2.084      0.038     -76.435      -2.274
C(CCA_name)[T.Mckinley Park]           4.831e-13   6.67e-14      7.244      0.000    3.52e-13    6.14e-13
C(CCA_name)[T.Montclare]               -119.1192     19.079     -6.243      0.000    -156.576     -81.662
C(CCA_name)[T.Morgan Park]              -58.0129     19.613     -2.958      0.003     -96.518     -19.508
C(CCA_name)[T.Mount Greenwood]          1.54e-13   1.71e-14      9.024      0.000     1.2e-13    1.87e-13
C(CCA_name)[T.Near North Side]          230.3897     20.732     11.113      0.000     189.687     271.093
C(CCA_name)[T.Near South Side]          -76.4198     19.116     -3.998      0.000    -113.949     -38.891
C(CCA_name)[T.Near West Side]           264.7152     19.850     13.336      0.000     225.744     303.686
C(CCA_name)[T.New City]                 100.3335     19.961      5.027      0.000      61.146     139.522
C(CCA_name)[T.North Center]             -87.3974     18.852     -4.636      0.000    -124.409     -50.386
C(CCA_name)[T.North Lawndale]           298.3690     19.869     15.017      0.000     259.360     337.378
C(CCA_name)[T.North Park]              1.456e-14   5.64e-15      2.579      0.010    3.48e-15    2.56e-14
C(CCA_name)[T.Norwood Park]            -130.0369     19.935     -6.523      0.000    -169.175     -90.899
C(CCA_name)[T.O'Hare]                 -2.544e-15   7.13e-15     -0.357      0.721   -1.66e-14    1.15e-14
C(CCA_name)[T.Oakland]                -5.322e-14   6.46e-15     -8.234      0.000   -6.59e-14   -4.05e-14
C(CCA_name)[T.Portage Park]             -32.7640     18.971     -1.727      0.085     -70.009       4.481
C(CCA_name)[T.Pullman]                  -79.9694     33.824     -2.364      0.018    -146.376     -13.563
C(CCA_name)[T.Riverdale]              -2.327e-14   5.33e-15     -4.363      0.000   -3.37e-14   -1.28e-14
C(CCA_name)[T.Rogers Park]               74.6223     18.870      3.955      0.000      37.576     111.669
C(CCA_name)[T.Roseland]                7.467e-14    6.1e-15     12.248      0.000    6.27e-14    8.66e-14
C(CCA_name)[T.South Chicago]            104.0430     20.308      5.123      0.000      64.173     143.913
C(CCA_name)[T.South Deering]           -100.9041     33.933     -2.974      0.003    -167.524     -34.284
C(CCA_name)[T.South Lawndale]            96.3385     19.316      4.987      0.000      58.415     134.262
C(CCA_name)[T.South Shore]              386.3107     19.130     20.194      0.000     348.753     423.869
C(CCA_name)[T.Uptown]                    16.3528     18.878      0.866      0.387     -20.711      53.416
C(CCA_name)[T.Washington Heights]        15.5353     22.596      0.688      0.492     -28.826      59.897
C(CCA_name)[T.Washington Park]           34.0968     30.000      1.137      0.256     -24.801      92.995
C(CCA_name)[T.West Elsdon]            -4.017e-15   4.02e-16     -9.994      0.000   -4.81e-15   -3.23e-15
C(CCA_name)[T.West Englewood]         -5.883e-14   5.89e-15     -9.994      0.000   -7.04e-14   -4.73e-14
C(CCA_name)[T.West Garfield Park]              0          0        nan        nan           0           0
C(CCA_name)[T.West Lawn]                -52.9696     20.859     -2.539      0.011     -93.921     -12.018
C(CCA_name)[T.West Pullman]              51.6088     23.470      2.199      0.028       5.530      97.687
C(CCA_name)[T.West Ridge]                 7.6343     18.957      0.403      0.687     -29.584      44.853
C(CCA_name)[T.West Town]                264.0363     19.436     13.585      0.000     225.877     302.195
C(CCA_name)[T.Woodlawn]                 106.5910     19.496      5.467      0.000      68.315     144.867
coffeeshops                              -1.0624      0.237     -4.477      0.000      -1.528      -0.597
==============================================================================
Omnibus:                      105.659   Durbin-Watson:                   1.402
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              879.046
Skew:                           0.279   Prob(JB):                    1.31e-191
Kurtosis:                       8.174   Cond. No.                     7.98e+18
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 7.26e-33. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [101]:
#https://www.census.gov/programs-surveys/acs/guidance/comparing-acs-data/2019.html
#https://cookcountypublichealth.org/wp-content/uploads/2018/12/SES-FINAL.pdf

## Collecting Control variables

In [102]:
cols1= ["CCA","TOT_POP",'WHITE','BLACK','ASIAN',"HISP",'POP_HH','UNEMP','EMP', 'INC_LT_25K',
 'INC_25_50K',
 'INC_50_75K',
 'INC_75_100K',
 'INC_100_150K',
 'INC_GT_150', 'MEDINC']

cols2=["GEOG","TOT_POP",'WHITE','BLACK','ASIAN',"HISP",'POP_HH','UNEMP','EMP', 'INC_LT_25K',
 'INC_25_50K',
 'INC_50_75K',
 'INC_75_100K',
 'INC_100_150K',
 'INC_GT_150', 'MEDINC']

cca0509 = pd.read_csv(os.getcwd() + "/00_sourcedata/Reference_CCAProfiles_2005_2009.csv",usecols=cols1)
cca1014 = pd.read_csv(os.getcwd() + "/00_sourcedata/Reference_CCAProfiles_2010_2014.csv",usecols=cols2)
cca1519 = pd.read_csv(os.getcwd() + "/00_sourcedata/ReferenceCCAProfiles20152019.csv",usecols=cols2) #https://datahub.cmap.illinois.gov/dataset/1d2dd970-f0a6-4736-96a1-3caeb431f5e4/resource/d23fc5b1-0bb5-4bcc-bf70-688201534833/download/CDSFieldDescriptions202106.pdf

In [103]:
# cca0509.columns = [str(col) + '_0509' for col in cca0509.columns]
# cca1014.columns = [str(col) + '_1014' for col in cca1014.columns]
# cca1519.columns = [str(col) + '_1519' for col in cca1519.columns]
# cca1014.head()

In [104]:
df=df.loc[df.Year<2020]

In [105]:
df.timeperiod_x.value_counts()

2005-2009    385
2015-2019    385
2010-2014    384
Name: timeperiod_x, dtype: int64

In [106]:
cca0509['timeperiod']='2005-2009'
cca1014['timeperiod']='2010-2014'
cca1519['timeperiod']='2015-2019'

cca0509= cca0509.rename(columns={'CCA':'GEOG'})

In [107]:
cca0509.columns

Index(['GEOG', 'INC_LT_25K', 'INC_25_50K', 'INC_50_75K', 'INC_75_100K',
       'INC_100_150K', 'INC_GT_150', 'MEDINC', 'EMP', 'UNEMP', 'TOT_POP',
       'WHITE', 'HISP', 'BLACK', 'ASIAN', 'POP_HH', 'timeperiod'],
      dtype='object')

In [108]:
cca1014.columns

Index(['GEOG', 'TOT_POP', 'WHITE', 'HISP', 'BLACK', 'ASIAN', 'POP_HH', 'EMP',
       'UNEMP', 'INC_LT_25K', 'INC_25_50K', 'INC_50_75K', 'INC_75_100K',
       'INC_100_150K', 'INC_GT_150', 'MEDINC', 'timeperiod'],
      dtype='object')

In [109]:
controls=cca0509.append(cca1014)
controls=controls.append(cca1519)
controls.sample(10)

,GEOG,INC_LT_25K,INC_25_50K,INC_50_75K,INC_75_100K,INC_100_150K,INC_GT_150,MEDINC,EMP,UNEMP,TOT_POP,WHITE,HISP,BLACK,ASIAN,POP_HH,timeperiod
67,Washington Heights,2744.0,2743.0,1512.0,1110.0,983.0,191.0,40607.31132,9977.0,3012.0,26435.00000,198.0,359.0,25394.0,1.0,26213.0,2010-2014
60,Roseland,4627.0,3528.0,2364.0,1442.0,1469.0,573.0,40786.00000,14532.0,3700.0,39162.00001,557.0,459.0,37280.0,165.0,38605.0,2015-2019
75,West Town,6995.0,6285.0,6198.0,4380.0,5931.0,7429.0,71267.18213,54058.0,4353.0,85211.00000,49536.0,23740.0,6205.0,3351.0,84555.0,2010-2014
45,Mount Greenwood,659.0,937.0,588.0,1075.0,1700.0,1733.0,102256.00000,9464.0,401.0,19190.00001,15899.0,2010.0,678.0,354.0,18456.0,2015-2019
48,Near West Side,6396.0,2897.0,3117.0,2941.0,4636.0,8627.0,91125.00000,36616.0,2466.0,63170.00000,27287.0,5839.0,16885.0,11246.0,57651.0,2015-2019
42,McKinley Park,1188.0,1419.0,944.0,603.0,661.0,360.0,49638.00000,7501.0,614.0,15177.00000,2625.0,8552.0,221.0,3625.0,15137.0,2015-2019
25,Fuller Park,670.0,239.0,81.0,71.0,57.0,12.0,17218.04511,692.0,386.0,2621.00000,84.0,216.0,2294.0,14.0,2608.0,2010-2014
68,Washington Park,2180.0,1014.0,410.0,311.0,168.0,59.0,22903.26538,3331.0,1333.0,11146.00000,20.0,132.0,10882.0,9.0,11056.0,2005-2009
16,Clearing,1366.0,2139.0,1949.0,1276.0,1398.0,709.0,60880.00000,11339.0,1089.0,24976.00000,10445.0,13502.0,567.0,126.0,24964.0,2015-2019
11,Brighton Park,3578.0,4741.0,1938.0,888.0,661.0,178.0,35754.06032,17802.0,3093.0,44130.00000,2950.0,37509.0,577.0,3032.0,44015.0,2010-2014

In [110]:
controls.isna().sum()

GEOG            27
INC_LT_25K      27
INC_25_50K      27
INC_50_75K      27
INC_75_100K     27
INC_100_150K    27
INC_GT_150      27
MEDINC          27
EMP             27
UNEMP           27
TOT_POP         27
WHITE           27
HISP            27
BLACK           27
ASIAN           27
POP_HH          27
timeperiod       0
dtype: int64

In [113]:
df.columns

Index(['Year', 'Community Area', 'crimes', 'GEOG', 'timeperiod',
       'coffeeshops'],
      dtype='object')

In [118]:
#getting_there=pd.merge(df,cca1014,how="outer",left_on=['timeperiod','CCA_name'],right_on=["timeperiod","GEOG_1014_1014"])
df=df.rename(columns={'timeperiod_x':'timeperiod','CCA_name':'GEOG'})
df_byperiod= df.groupby(['timeperiod','GEOG'],as_index=False).mean()
df.head()

     Year  Community Area  crimes            GEOG timeperiod  coffeeshops
0  2005.0             1.0   306.0     Rogers Park  2005-2009         12.0
1  2005.0             2.0   194.0      West Ridge  2005-2009         26.0
2  2005.0             3.0   227.0          Uptown  2005-2009         19.0
3  2005.0             4.0    85.0  Lincoln Square  2005-2009         48.0
4  2005.0             5.0    51.0    North Center  2005-2009         18.0

In [115]:
controls.head()

,GEOG,INC_LT_25K,INC_25_50K,INC_50_75K,INC_75_100K,INC_100_150K,INC_GT_150,MEDINC,EMP,UNEMP,TOT_POP,WHITE,HISP,BLACK,ASIAN,POP_HH,timeperiod
0,Albany Park,4781.000000,3986.000000,2966.000000,2003.000000,1748.000000,1320.000000,47864.92398,27319.000000,3052.000000,53897.00000,15844.000000,28257.000000,2177.000000,6710.000000,52775.00000,2005-2009
1,Archer Heights,754.205357,1387.696429,814.062500,357.625000,279.000000,141.933036,42655.16006,5496.034931,1081.759545,13408.35388,2995.061630,9916.870775,210.469185,209.952286,13398.35388,2005-2009
2,Armour Square,2835.711009,1085.912844,641.697248,354.940367,329.165138,127.376147,21743.57846,5880.601113,1180.585529,13764.29367,1560.087638,651.876959,1680.000000,9201.634939,13757.29367,2005-2009
3,Ashburn,2120.000000,2568.000000,2467.000000,2099.000000,2544.000000,982.000000,67963.90803,18862.000000,2505.000000,42788.00000,7152.000000,13148.000000,22047.000000,121.000000,42292.00000,2005-2009
4,Auburn Gresham,7161.000000,4655.000000,2767.000000,1395.000000,816.000000,379.000000,30899.94720,15369.000000,6078.000000,49634.00000,135.000000,484.000000,48680.000000,77.000000,49561.00000,2005-2009

In [119]:
df_byperiod.head()

  timeperiod            GEOG    Year  Community Area  crimes  coffeeshops
0  2005-2009     Albany Park  2007.0            14.0   129.0        31.40
1  2005-2009  Archer Heights  2007.0            57.0    60.4         2.25
2  2005-2009   Armour Square  2007.0            34.0    78.8         9.60
3  2005-2009         Ashburn  2007.0            70.0   202.0         1.00
4  2005-2009  Auburn Gresham  2007.0            71.0   636.2         2.00

In [124]:
df_merged= pd.merge(df_byperiod,controls,how="left",on=['GEOG','timeperiod'])

In [127]:
df_merged.head()

,timeperiod,GEOG,Year,Community Area,crimes,coffeeshops,INC_LT_25K,INC_25_50K,INC_50_75K,INC_75_100K,...,INC_GT_150,MEDINC,EMP,UNEMP,TOT_POP,WHITE,HISP,BLACK,ASIAN,POP_HH
0,2005-2009,Albany Park,2007.0,14.0,129.0,31.40,4781.000000,3986.000000,2966.000000,2003.000000,...,1320.000000,47864.92398,27319.000000,3052.000000,53897.00000,15844.000000,28257.000000,2177.000000,6710.000000,52775.00000
1,2005-2009,Archer Heights,2007.0,57.0,60.4,2.25,754.205357,1387.696429,814.062500,357.625000,...,141.933036,42655.16006,5496.034931,1081.759545,13408.35388,2995.061630,9916.870775,210.469185,209.952286,13398.35388
2,2005-2009,Armour Square,2007.0,34.0,78.8,9.60,2835.711009,1085.912844,641.697248,354.940367,...,127.376147,21743.57846,5880.601113,1180.585529,13764.29367,1560.087638,651.876959,1680.000000,9201.634939,13757.29367
3,2005-2009,Ashburn,2007.0,70.0,202.0,1.00,2120.000000,2568.000000,2467.000000,2099.000000,...,982.000000,67963.90803,18862.000000,2505.000000,42788.00000,7152.000000,13148.000000,22047.000000,121.000000,42292.00000
4,2005-2009,Auburn Gresham,2007.0,71.0,636.2,2.00,7161.000000,4655.000000,2767.000000,1395.000000,...,379.000000,30899.94720,15369.000000,6078.000000,49634.00000,135.000000,484.000000,48680.000000,77.000000,49561.00000

In [129]:
import statsmodels.api as sm
import statsmodels.formula.api as smf

smf.ols(
    "crimes ~ coffeeshops+ C(timeperiod) + GEOG + TOT_POP+ WHITE+HISP+ BLACK+ ASIAN+POP_HH+ EMP+UNEMP+INC_LT_25K+INC_25_50K+INC_50_75K+INC_75_100K+INC_100_150K+INC_GT_150+MEDINC",
    data=df_merged,
).fit().summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 crimes   R-squared:                       0.980
Model:                            OLS   Adj. R-squared:                  0.964
Method:                 Least Squares   F-statistic:                     59.88
Date:                Wed, 17 Nov 2021   Prob (F-statistic):           3.11e-52
Time:                        10:58:19   Log-Likelihood:                -738.70
No. Observations:                 159   AIC:                             1623.
Df Residuals:                      86   BIC:                             1847.
Df Model:                          72
Covariance Type:            nonrobust
==================================================================================================
                                     coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------
Intercept                       -187.3446    197.718     -0.948      0.346    -580.395     205.706
C(timeperiod)[T.2010-2014]       -51.2981      8.757     -5.858      0.000     -68.706     -33.890
C(timeperiod)[T.2015-2019]       -99.6952     14.808     -6.733      0.000    -129.132     -70.259
GEOG[T.Archer Heights]            91.9363    139.527      0.659      0.512    -185.435     369.308
GEOG[T.Armour Square]            -81.2881    154.279     -0.527      0.600    -387.984     225.408
GEOG[T.Ashburn]                 -135.6447    115.658     -1.173      0.244    -365.565      94.276
GEOG[T.Auburn Gresham]          -149.0912    229.945     -0.648      0.518    -606.208     308.025
GEOG[T.Austin]                  -102.3540    346.180     -0.296      0.768    -790.536     585.828
GEOG[T.Avalon Park]                7.2005    170.075      0.042      0.966    -330.897     345.298
GEOG[T.Avondale]                  97.8712     66.019      1.482      0.142     -33.370     229.113
GEOG[T.Belmont Cragin]           165.0320    122.761      1.344      0.182     -79.009     409.074
GEOG[T.Beverly]                  -99.5986    121.107     -0.822      0.413    -340.351     141.154
GEOG[T.Bridgeport]              -253.9377     96.815     -2.623      0.010    -446.400     -61.475
GEOG[T.Brighton Park]             45.0767     79.810      0.565      0.574    -113.579     203.733
GEOG[T.Burnside]                 122.6260    183.496      0.668      0.506    -242.152     487.404
GEOG[T.Calumet Heights]        -4.052e-09   2.73e-09     -1.487      0.141   -9.47e-09    1.37e-09
GEOG[T.Chatham]                -7.256e-09   1.11e-08     -0.651      0.517   -2.94e-08    1.49e-08
GEOG[T.Chicago Lawn]            3.381e-10   1.53e-10      2.203      0.030     3.3e-11    6.43e-10
GEOG[T.Clearing]                5.595e-10    2.8e-10      2.002      0.048    3.85e-12    1.12e-09
GEOG[T.Douglas]                  -46.8205    154.265     -0.304      0.762    -353.488     259.847
GEOG[T.Dunning]                  126.8730     88.493      1.434      0.155     -49.045     302.790
GEOG[T.East Garfield Park]       185.7196    176.662      1.051      0.296    -165.473     536.912
GEOG[T.East Side]              -7.254e-11   9.19e-11     -0.790      0.432   -2.55e-10     1.1e-10
GEOG[T.Edgewater]               -215.0097    128.773     -1.670      0.099    -471.003      40.983
GEOG[T.Edison Park]              -55.5689    133.572     -0.416      0.678    -321.102     209.964
GEOG[T.Englewood]                203.4426    188.409      1.080      0.283    -171.103     577.988
GEOG[T.Forest Glen]             -123.6627    115.676     -1.069      0.288    -353.618     106.293
GEOG[T.Fuller Park]             9.959e-10   6.11e-10      1.629      0.107   -2.19e-10    2.21e-09
GEOG[T.Gage Park]                145.2023     99.148      1.465      0.147     -51.897     342.302
GEOG[T.Garfield Ridge]            85.3349     79.639      1.072      0.287     -72.982     243.652
GEOG[T.Grand Boulevard]          9.44e-11   2.39e-10      0.395      0.694    -3.8e-10    5.69e-10
GEOG[T.Greater Grand Crossing] -8.048e-10   3.46e-10     -2.326      0.022   -1.49e-09   -1.17e-10
GEOG[T.Hegewisch]              -3.188e-10   1.34e-10     -2.373      0.020   -5.86e-10   -5.17e-11
GEOG[T.Hermosa]                 1.133e-10   5.85e-11      1.937      0.056   -2.98e-12     2.3e-10
GEOG[T.Humboldt Park]            168.9182    116.054      1.456      0.149     -61.790     399.627
GEOG[T.Hyde Park]                -17.7605    110.140     -0.161      0.872    -236.712     201.191
GEOG[T.Irving Park]            -2.243e-10   2.24e-10     -1.001      0.319    -6.7e-10    2.21e-10
GEOG[T.Jefferson Park]            12.6624     90.092      0.141      0.889    -166.434     191.759
GEOG[T.Kenwood]                 -123.6332    152.587     -0.810      0.420    -426.967     179.700
GEOG[T.Lake View]                 38.0884    344.347      0.111      0.912    -646.451     722.628
GEOG[T.Lincoln Park]             144.3205    179.647      0.803      0.424    -212.807     501.448
GEOG[T.Lincoln Square]           -45.0565     74.179     -0.607      0.545    -192.519     102.406
GEOG[T.Logan Square]             143.7081    132.878      1.082      0.282    -120.444     407.860
GEOG[T.Loop]                    6.162e-10   3.03e-10      2.031      0.045     1.3e-11    1.22e-09
GEOG[T.Lower West Side]           46.5595     85.879      0.542      0.589    -124.163     217.282
GEOG[T.Mckinley Park]           -4.84e-10   2.11e-10     -2.291      0.024   -9.04e-10    -6.4e-11
GEOG[T.Montclare]                 68.1315    136.276      0.500      0.618    -202.777     339.040
GEOG[T.Morgan Park]              -80.6851    137.804     -0.586      0.560    -354.631     193.261
GEOG[T.Mount Greenwood]         2.905e-10   1.66e-10      1.749      0.084   -3.97e-11    6.21e-10
GEOG[T.Near North Side]         -236.7679    332.787     -0.711      0.479    -898.327     424.791
GEOG[T.Near South Side]         -260.2568    118.961     -2.188      0.031    -496.744     -23.770
GEOG[T.Near West Side]           -56.8412    136.620     -0.416      0.678    -328.432     214.750
GEOG[T.New City]                 142.3620     98.600      1.444      0.152     -53.648     338.372
GEOG[T.North Center]              -8.8585     92.194     -0.096      0.924    -192.133     174.416
GEOG[T.North Lawndale]           165.9078    188.657      0.879      0.382    -209.130     540.945
GEOG[T.North Park]             -8.695e-11   9.99e-11     -0.871      0.386   -2.85e-10    1.12e-10
GEOG[T.Norwood Park]              74.0640     99.454      0.745      0.458    -123.643     271.771
GEOG[T.O'Hare]                 -2.225e-10   2.09e-10     -1.065      0.290   -6.38e-10    1.93e-10
GEOG[T.Oakland]                 1.023e-10   7.87e-11      1.300      0.197   -5.42e-11    2.59e-10
GEOG[T.Portage Park]              96.8655    106.451      0.910      0.365    -114.752     308.483
GEOG[T.Pullman]                   39.6550    173.354      0.229      0.820    -304.961     384.271
GEOG[T.Riverdale]              -1.523e-10   1.15e-10     -1.329      0.188    -3.8e-10    7.56e-11
GEOG[T.Rogers Park]              -32.0752    120.549     -0.266      0.791    -271.718     207.567
GEOG[T.Roseland]               -1.586e-10   1.17e-10     -1.350      0.181   -3.92e-10     7.5e-11
GEOG[T.South Chicago]             13.8492    162.562      0.085      0.932    -309.314     337.012
GEOG[T.South Deering]              1.3206    157.286      0.008      0.993    -311.354     313.996
GEOG[T.South Lawndale]           329.2933    214.401      1.536      0.128     -96.922     755.509
GEOG[T.South Shore]             -229.6351    256.858     -0.894      0.374    -740.252     280.982
GEOG[T.Uptown]                  -197.0403    138.719     -1.420      0.159    -472.804      78.723
GEOG[T.Washington Heights]      -148.8432    178.254     -0.835      0.406    -503.200     205.514
GEOG[T.Washington Park]          152.9599    178.405      0.857      0.394    -201.698     507.617
GEOG[T.West Elsdon]            -6.668e-11   1.01e-10     -0.661      0.510   -2.67e-10    1.34e-10
GEOG[T.West Englewood]          9.699e-11   1.47e-10      0.661      0.510   -1.95e-10    3.88e-10
GEOG[T.West Garfield Park]      6.509e-11   9.84e-11      0.661      0.510   -1.31e-10    2.61e-10
GEOG[T.West Lawn]                100.2332     95.520      1.049      0.297     -89.654     290.120
GEOG[T.West Pullman]             -81.2197    178.620     -0.455      0.650    -436.305     273.866
GEOG[T.West Ridge]              -254.5880    130.275     -1.954      0.054    -513.567       4.391
GEOG[T.West Town]                245.1235    209.487      1.170      0.245    -171.323     661.570
GEOG[T.Woodlawn]                  78.3814    169.896      0.461      0.646    -259.361     416.124
coffeeshops                       -1.8278      1.035     -1.765      0.081      -3.886       0.231
TOT_POP                           -0.0130      0.027     -0.482      0.631      -0.067       0.041
WHITE                             -0.0202      0.016     -1.266      0.209      -0.052       0.012
HISP                              -0.0100      0.016     -0.634      0.528      -0.041       0.021
BLACK                              0.0007      0.016      0.046      0.964      -0.031       0.033
ASIAN                              0.0154      0.017      0.886      0.378      -0.019       0.050
POP_HH                             0.0154      0.023      0.678      0.499      -0.030       0.060
EMP                                0.0009      0.009      0.102      0.919      -0.017       0.018
UNEMP                              0.0155      0.009      1.719      0.089      -0.002       0.033
INC_LT_25K                         0.0243      0.012      1.958      0.053      -0.000       0.049
INC_25_50K                         0.0443      0.016      2.830      0.006       0.013       0.075
INC_50_75K                         0.0367      0.023      1.562      0.122      -0.010       0.083
INC_75_100K                        0.0181      0.026      0.692      0.491      -0.034       0.070
INC_100_150K                       0.0192      0.025      0.759      0.450      -0.031       0.069
INC_GT_150                         0.0223      0.014      1.546      0.126      -0.006       0.051
MEDINC                             0.0038      0.001      3.669      0.000       0.002       0.006
==============================================================================
Omnibus:                       10.274   Durbin-Watson:                   1.778
Prob(Omnibus):                  0.006   Jarque-Bera (JB):               23.618
Skew:                           0.071   Prob(JB):                     7.44e-06
Kurtosis:                       4.883   Cond. No.                     8.53e+21
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.8e-32. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""