The ACS launched in 2005 as a replacement to the Census Long Form. Unfortunately, the test run data from 2000-2004 is not geotagged beyond the state level.

In [35]:
import pandas as pd
import numpy as np
import os

In [36]:
os.chdir('/Users/sarwaridas/Desktop/IDS 702/Final Project/ids720_CoffeeAndCrimes')
df= pd.read_csv("02_processed_data/coffee_crime_revised.csv")

In [37]:
df.isna().sum()

Unnamed: 0     0
timeperiod     0
CCA_name       0
crimes         0
coffeeshops    0
dtype: int64

In [38]:
df=df.drop(['Unnamed: 0'],axis=1)

In [39]:
df.head()

  timeperiod        CCA_name  crimes  coffeeshops
0  2005-2009     Albany Park  1072.0   131.000000
1  2005-2009  Archer Heights   469.0    74.181818
2  2005-2009   Armour Square   614.0    72.000000
3  2005-2009         Ashburn  1501.0    10.000000
4  2005-2009  Auburn Gresham  4710.0    12.500000

In [40]:
import statsmodels.api as sm
import statsmodels.formula.api as smf
smf.ols("crimes ~ coffeeshops+ C(timeperiod)+ C(CCA_name)", data=df).fit().summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 crimes   R-squared:                       0.768
Model:                            OLS   Adj. R-squared:                  0.686
Method:                 Least Squares   F-statistic:                     9.370
Date:                Fri, 03 Dec 2021   Prob (F-statistic):           1.46e-40
Time:                        12:42:35   Log-Likelihood:                -2377.9
No. Observations:                 308   AIC:                             4918.
Df Residuals:                     227   BIC:                             5220.
Df Model:                          80
Covariance Type:            nonrobust
=========================================================================================================
                                            coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------------------
Intercept                              1415.0508    331.356      4.270      0.000     762.124    2067.978
C(timeperiod)[T.2010-2014]             -830.6312    108.929     -7.625      0.000   -1045.272    -615.991
C(timeperiod)[T.2015-2019]             -980.0094    107.903     -9.082      0.000   -1192.629    -767.390
C(timeperiod)[T.2020]                 -1560.5897    117.082    -13.329      0.000   -1791.296   -1329.884
C(CCA_name)[T.Archer Heights]          -349.5680    449.847     -0.777      0.438   -1235.979     536.843
C(CCA_name)[T.Armour Square]           -206.9701    449.500     -0.460      0.646   -1092.697     678.757
C(CCA_name)[T.Ashburn]                  103.2074    450.559      0.229      0.819    -784.605     991.020
C(CCA_name)[T.Auburn Gresham]          1671.1293    450.356      3.711      0.000     783.716    2558.543
C(CCA_name)[T.Austin]                  4141.2842    449.606      9.211      0.000    3255.349    5027.219
C(CCA_name)[T.Avalon Park]              -99.1820    450.576     -0.220      0.826    -987.029     788.665
C(CCA_name)[T.Avondale]                  70.6079    449.613      0.157      0.875    -815.340     956.556
C(CCA_name)[T.Belmont Cragin]           489.7915    449.211      1.090      0.277    -395.365    1374.948
C(CCA_name)[T.Beverly]                 -389.6783    450.106     -0.866      0.388   -1276.599     497.242
C(CCA_name)[T.Bridgeport]              -352.8469    449.640     -0.785      0.433   -1238.849     533.155
C(CCA_name)[T.Brighton Park]             31.4939    450.230      0.070      0.944    -855.671     918.659
C(CCA_name)[T.Burnside]                -481.0140    450.524     -1.068      0.287   -1368.758     406.730
C(CCA_name)[T.Calumet Heights]         -113.9853    450.490     -0.253      0.800   -1001.661     773.691
C(CCA_name)[T.Chatham]                 1413.8092    449.919      3.142      0.002     527.258    2300.361
C(CCA_name)[T.Chicago Lawn]            1473.6949    450.330      3.272      0.001     586.334    2361.055
C(CCA_name)[T.Clearing]                -471.7271    450.530     -1.047      0.296   -1359.482     416.028
C(CCA_name)[T.Douglas]                  139.2769    450.378      0.309      0.757    -748.179    1026.733
C(CCA_name)[T.Dunning]                 -410.2622    449.157     -0.913      0.362   -1295.313     474.788
C(CCA_name)[T.East Garfield Park]       804.9080    450.324      1.787      0.075     -82.442    1692.258
C(CCA_name)[T.East Side]               -422.4731    450.378     -0.938      0.349   -1309.929     464.983
C(CCA_name)[T.Edgewater]                -32.5793    449.633     -0.072      0.942    -918.567     853.409
C(CCA_name)[T.Edison Park]             -564.1719    450.367     -1.253      0.212   -1451.607     323.263
C(CCA_name)[T.Englewood]               1489.7522    450.266      3.309      0.001     602.516    2376.988
C(CCA_name)[T.Forest Glen]             -547.2850    449.967     -1.216      0.225   -1433.932     339.362
C(CCA_name)[T.Fuller Park]             -276.9115    450.501     -0.615      0.539   -1164.610     610.787
C(CCA_name)[T.Gage Park]                 71.4860    450.524      0.159      0.874    -816.258     959.230
C(CCA_name)[T.Garfield Ridge]          -229.4707    449.237     -0.511      0.610   -1114.678     655.737
C(CCA_name)[T.Grand Boulevard]          471.4116    449.902      1.048      0.296    -415.106    1357.929
C(CCA_name)[T.Greater Grand Crossing]  1628.8339    450.012      3.620      0.000     742.098    2515.569
C(CCA_name)[T.Hegewisch]               -512.9689    450.571     -1.138      0.256   -1400.804     374.867
C(CCA_name)[T.Hermosa]                 -230.9592    450.343     -0.513      0.609   -1118.347     656.429
C(CCA_name)[T.Humboldt Park]           1519.7110    450.092      3.376      0.001     632.819    2406.603
C(CCA_name)[T.Hyde Park]                -11.7506    449.246     -0.026      0.979    -896.975     873.474
C(CCA_name)[T.Irving Park]              -28.2945    449.234     -0.063      0.950    -913.497     856.908
C(CCA_name)[T.Jefferson Park]          -467.6335    449.868     -1.039      0.300   -1354.085     418.818
C(CCA_name)[T.Kenwood]                 -194.2481    449.972     -0.432      0.666   -1080.904     692.407
C(CCA_name)[T.Lake View]                593.6279    461.638      1.286      0.200    -316.015    1503.271
C(CCA_name)[T.Lincoln Park]             118.7810    457.266      0.260      0.795    -782.248    1019.810
C(CCA_name)[T.Lincoln Square]          -342.2860    451.632     -0.758      0.449   -1232.214     547.642
C(CCA_name)[T.Logan Square]             678.3341    450.054      1.507      0.133    -208.483    1565.152
C(CCA_name)[T.Loop]                     372.4753    509.212      0.731      0.465    -630.911    1375.862
C(CCA_name)[T.Lower West Side]         -121.8030    449.168     -0.271      0.787   -1006.874     763.268
C(CCA_name)[T.Mckinley Park]           -399.1167    450.215     -0.887      0.376   -1286.251     488.018
C(CCA_name)[T.Montclare]               -494.1094    449.509     -1.099      0.273   -1379.853     391.635
C(CCA_name)[T.Morgan Park]             -156.3789    450.319     -0.347      0.729   -1043.718     730.961
C(CCA_name)[T.Mount Greenwood]         -527.2067    450.456     -1.170      0.243   -1414.816     360.402
C(CCA_name)[T.Near North Side]          817.3339    496.072      1.648      0.101    -160.160    1794.828
C(CCA_name)[T.Near South Side]         -277.0445    449.234     -0.617      0.538   -1162.247     608.158
C(CCA_name)[T.Near West Side]          1110.7755    461.569      2.407      0.017     201.267    2020.284
C(CCA_name)[T.New City]                 682.2769    450.378      1.515      0.131    -205.179    1569.733
C(CCA_name)[T.North Center]            -364.8732    449.167     -0.812      0.417   -1249.942     520.196
C(CCA_name)[T.North Lawndale]          1526.3625    449.985      3.392      0.001     639.681    2413.044
C(CCA_name)[T.North Park]              -460.7247    449.280     -1.025      0.306   -1346.016     424.567
C(CCA_name)[T.Norwood Park]            -512.7603    450.063     -1.139      0.256   -1399.596     374.076
C(CCA_name)[T.O'Hare]                  -538.5601    449.794     -1.197      0.232   -1424.865     347.745
C(CCA_name)[T.Oakland]                 -459.9792    449.480     -1.023      0.307   -1345.666     425.708
C(CCA_name)[T.Portage Park]             -78.0567    449.264     -0.174      0.862    -963.318     807.205
C(CCA_name)[T.Pullman]                 -377.3591    449.711     -0.839      0.402   -1263.501     508.783
C(CCA_name)[T.Riverdale]               -302.2570    449.497     -0.672      0.502   -1187.978     583.464
C(CCA_name)[T.Rogers Park]              496.6927    449.156      1.106      0.270    -388.355    1381.740
C(CCA_name)[T.Roseland]                1419.4077    450.021      3.154      0.002     532.654    2306.161
C(CCA_name)[T.South Chicago]            681.7851    450.417      1.514      0.131    -205.747    1569.317
C(CCA_name)[T.South Deering]           -197.6494    450.389     -0.439      0.661   -1085.127     689.829
C(CCA_name)[T.South Lawndale]           634.9939    450.230      1.410      0.160    -252.171    1522.159
C(CCA_name)[T.South Shore]             1970.2479    450.096      4.377      0.000    1083.347    2857.149
C(CCA_name)[T.Uptown]                   159.0695    449.161      0.354      0.724    -725.989    1044.128
C(CCA_name)[T.Washington Heights]       272.9531    450.367      0.606      0.545    -614.482    1160.388
C(CCA_name)[T.Washington Park]          313.0473    450.308      0.695      0.488    -574.271    1200.366
C(CCA_name)[T.West Elsdon]             -338.3625    450.395     -0.751      0.453   -1225.851     549.126
C(CCA_name)[T.West Englewood]          1457.8546    450.246      3.238      0.001     570.659    2345.050
C(CCA_name)[T.West Garfield Park]       963.3055    450.346      2.139      0.034      75.913    1850.698
C(CCA_name)[T.West Lawn]               -164.1042    450.433     -0.364      0.716   -1051.669     723.461
C(CCA_name)[T.West Pullman]             462.6580    450.324      1.027      0.305    -424.692    1350.008
C(CCA_name)[T.West Ridge]               100.2091    449.159      0.223      0.824    -784.845     985.263
C(CCA_name)[T.West Town]               1183.1401    461.982      2.561      0.011     272.819    2093.461
C(CCA_name)[T.Woodlawn]                 628.9564    449.693      1.399      0.163    -257.150    1515.062
coffeeshops                               0.2951      0.592      0.498      0.619      -0.872       1.462
==============================================================================
Omnibus:                       69.045   Durbin-Watson:                   1.756
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1077.207
Skew:                           0.350   Prob(JB):                    1.22e-234
Kurtosis:                      12.135   Cond. No.                     9.33e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 9.33e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [67]:
#https://www.census.gov/programs-surveys/acs/guidance/comparing-acs-data/2019.html
#https://cookcountypublichealth.org/wp-content/uploads/2018/12/SES-FINAL.pdf

## Collecting Control variables

In [49]:
cols1= ["CCA","TOT_POP",'WHITE','BLACK','ASIAN',"HISP",'POP_HH','UNEMP','EMP', 'INC_LT_25K',
 'INC_25_50K',
 'INC_50_75K',
 'INC_75_100K',
 'INC_100_150K',
 'INC_GT_150', 'MEDINC','HS','BACH','MED_AGE']

cols2=["GEOG","TOT_POP",'WHITE','BLACK','ASIAN',"HISP",'POP_HH','UNEMP','EMP', 'INC_LT_25K',
 'INC_25_50K',
 'INC_50_75K',
 'INC_75_100K',
 'INC_100_150K',
 'INC_GT_150', 'MEDINC','HS','BACH','MED_AGE']

cca0509 = pd.read_csv(os.getcwd() + "/00_sourcedata/Reference_CCAProfiles_2005_2009.csv",usecols=cols1)
cca1014 = pd.read_csv(os.getcwd() + "/00_sourcedata/Reference_CCAProfiles_2010_2014.csv",usecols=cols2)
cca1519 = pd.read_csv(os.getcwd() + "/00_sourcedata/ReferenceCCAProfiles20152019.csv",usecols=cols2) #https://datahub.cmap.illinois.gov/dataset/1d2dd970-f0a6-4736-96a1-3caeb431f5e4/resource/d23fc5b1-0bb5-4bcc-bf70-688201534833/download/CDSFieldDescriptions202106.pdf

In [14]:
# cca0509.columns = [str(col) + '_0509' for col in cca0509.columns]
# cca1014.columns = [str(col) + '_1014' for col in cca1014.columns]
# cca1519.columns = [str(col) + '_1519' for col in cca1519.columns]
# cca1014.head()

In [50]:
df=df.loc[df.timeperiod!='2020']

In [51]:
df.timeperiod.value_counts()

2005-2009    77
2010-2014    77
2015-2019    77
Name: timeperiod, dtype: int64

In [52]:
cca0509['timeperiod']='2005-2009'
cca1014['timeperiod']='2010-2014'
cca1519['timeperiod']='2015-2019'


cca0509= cca0509.rename(columns={'CCA':'GEOG'})

In [53]:
cca0509.columns

Index(['GEOG', 'INC_LT_25K', 'INC_25_50K', 'INC_50_75K', 'INC_75_100K',
       'INC_100_150K', 'INC_GT_150', 'MEDINC', 'HS', 'BACH', 'EMP', 'UNEMP',
       'TOT_POP', 'WHITE', 'HISP', 'BLACK', 'ASIAN', 'MED_AGE', 'POP_HH',
       'timeperiod'],
      dtype='object')

In [54]:
cca1014.columns

Index(['GEOG', 'TOT_POP', 'MED_AGE', 'WHITE', 'HISP', 'BLACK', 'ASIAN',
       'POP_HH', 'EMP', 'UNEMP', 'HS', 'BACH', 'INC_LT_25K', 'INC_25_50K',
       'INC_50_75K', 'INC_75_100K', 'INC_100_150K', 'INC_GT_150', 'MEDINC',
       'timeperiod'],
      dtype='object')

In [55]:
controls=cca0509.append(cca1014)
controls=controls.append(cca1519)
controls.sample(10)

,GEOG,INC_LT_25K,INC_25_50K,INC_50_75K,INC_75_100K,INC_100_150K,INC_GT_150,MEDINC,HS,BACH,EMP,UNEMP,TOT_POP,WHITE,HISP,BLACK,ASIAN,MED_AGE,POP_HH,timeperiod
42,McKinley Park,1493.0,1491.0,1041.0,543.0,388.0,179.0,42484.75610,7224.0,1896.0,7171.00000,1165.000000,16449.00000,3104.0,9487.0,446.0,3185.0,33.281126,16409.0,2010-2014
53,Norwood Park,2257.0,2143.0,2487.0,1820.0,3068.0,3307.0,83985.00000,7441.0,6950.0,19488.00000,739.000000,38083.67228,29421.0,5749.0,297.0,1618.0,42.900000,37541.0,2015-2019
23,Englewood,5640.0,2042.0,1027.0,287.0,295.0,70.0,18959.58084,11473.0,966.0,6536.00000,3805.000000,27297.00000,226.0,543.0,26054.0,73.0,31.268822,27168.0,2010-2014
28,Grand Boulevard,4387.0,1909.0,1391.0,866.0,771.0,554.0,30154.15419,12519.0,3932.0,8574.00000,2746.000000,23151.00000,944.0,698.0,21091.0,60.0,33.419248,22872.0,2005-2009
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-2019
58,Riverdale,1570.0,461.0,184.0,107.0,0.0,0.0,14204.39034,2233.0,238.0,1434.00000,760.000000,6820.00000,0.0,136.0,6678.0,0.0,22.385366,6770.0,2005-2009
55,O'Hare,1407.0,1444.0,1314.0,973.0,668.0,418.0,53509.00000,2236.0,2890.0,7221.00000,399.000000,13075.04972,9603.0,1381.0,256.0,1582.0,37.400000,13125.0,2015-2019
40,Logan Square,6605.0,7378.0,5058.0,2914.0,3757.0,3335.0,52184.50263,42784.0,21949.0,40786.24041,3648.890552,72925.00000,29951.0,35131.0,4710.0,1923.0,31.232891,72448.0,2005-2009
19,East Garfield Park,3429.0,1516.0,769.0,421.0,445.0,213.0,24617.00000,3566.0,1232.0,6058.00000,1247.000000,18933.97988,1128.0,537.0,16727.0,119.0,31.500000,17996.0,2015-2019
39,Lincoln Square,3499.0,3721.0,3747.0,2375.0,2106.0,2174.0,60137.85846,25989.0,16315.0,23356.00000,2097.000000,38622.00000,24332.0,7483.0,1764.0,4015.0,33.960260,38022.0,2005-2009

In [56]:
controls.isna().sum()

GEOG            27
INC_LT_25K      27
INC_25_50K      27
INC_50_75K      27
INC_75_100K     27
INC_100_150K    27
INC_GT_150      27
MEDINC          27
HS              27
BACH            27
EMP             27
UNEMP           27
TOT_POP         27
WHITE           27
HISP            27
BLACK           27
ASIAN           27
MED_AGE         27
POP_HH          27
timeperiod       0
dtype: int64

In [57]:
df.columns

Index(['timeperiod', 'CCA_name', 'crimes', 'coffeeshops'], dtype='object')

In [58]:
#getting_there=pd.merge(df,cca1014,how="outer",left_on=['timeperiod','CCA_name'],right_on=["timeperiod","GEOG_1014_1014"])
df=df.rename(columns={'timeperiod_x':'timeperiod','CCA_name':'GEOG'})
df_byperiod= df.groupby(['timeperiod','GEOG'],as_index=False).mean()
df.head()

  timeperiod            GEOG  crimes  coffeeshops
0  2005-2009     Albany Park  1072.0   131.000000
1  2005-2009  Archer Heights   469.0    74.181818
2  2005-2009   Armour Square   614.0    72.000000
3  2005-2009         Ashburn  1501.0    10.000000
4  2005-2009  Auburn Gresham  4710.0    12.500000

In [59]:
controls.head()

,GEOG,INC_LT_25K,INC_25_50K,INC_50_75K,INC_75_100K,INC_100_150K,INC_GT_150,MEDINC,HS,BACH,EMP,UNEMP,TOT_POP,WHITE,HISP,BLACK,ASIAN,MED_AGE,POP_HH,timeperiod
0,Albany Park,4781.000000,3986.000000,2966.000000,2003.000000,1748.000000,1320.000000,47864.92398,23325.000000,9203.000000,27319.000000,3052.000000,53897.00000,15844.000000,28257.000000,2177.000000,6710.000000,31.379323,52775.00000,2005-2009
1,Archer Heights,754.205357,1387.696429,814.062500,357.625000,279.000000,141.933036,42655.16006,4954.489066,725.548708,5496.034931,1081.759545,13408.35388,2995.061630,9916.870775,210.469185,209.952286,28.941676,13398.35388,2005-2009
2,Armour Square,2835.711009,1085.912844,641.697248,354.940367,329.165138,127.376147,21743.57846,6453.107371,2068.490424,5880.601113,1180.585529,13764.29367,1560.087638,651.876959,1680.000000,9201.634939,41.704547,13757.29367,2005-2009
3,Ashburn,2120.000000,2568.000000,2467.000000,2099.000000,2544.000000,982.000000,67963.90803,22007.000000,5184.000000,18862.000000,2505.000000,42788.00000,7152.000000,13148.000000,22047.000000,121.000000,35.097238,42292.00000,2005-2009
4,Auburn Gresham,7161.000000,4655.000000,2767.000000,1395.000000,816.000000,379.000000,30899.94720,25122.000000,3763.000000,15369.000000,6078.000000,49634.00000,135.000000,484.000000,48680.000000,77.000000,36.229851,49561.00000,2005-2009

In [60]:
controls.groupby(['GEOG','timeperiod']).count()

                           INC_LT_25K  INC_25_50K  INC_50_75K  INC_75_100K  \
GEOG           timeperiod
Albany Park    2005-2009            1           1           1            1
               2010-2014            1           1           1            1
               2015-2019            1           1           1            1
Archer Heights 2005-2009            1           1           1            1
               2010-2014            1           1           1            1
...                               ...         ...         ...          ...
West Town      2010-2014            1           1           1            1
               2015-2019            1           1           1            1
Woodlawn       2005-2009            1           1           1            1
               2010-2014            1           1           1            1
               2015-2019            1           1           1            1

                           INC_100_150K  INC_GT_150  MEDINC  HS  BACH  EMP  \
GEOG           timeperiod
Albany Park    2005-2009              1           1       1   1     1    1
               2010-2014              1           1       1   1     1    1
               2015-2019              1           1       1   1     1    1
Archer Heights 2005-2009              1           1       1   1     1    1
               2010-2014              1           1       1   1     1    1
...                                 ...         ...     ...  ..   ...  ...
West Town      2010-2014              1           1       1   1     1    1
               2015-2019              1           1       1   1     1    1
Woodlawn       2005-2009              1           1       1   1     1    1
               2010-2014              1           1       1   1     1    1
               2015-2019              1           1       1   1     1    1

                           UNEMP  TOT_POP  WHITE  HISP  BLACK  ASIAN  MED_AGE  \
GEOG           timeperiod
Albany Park    2005-2009       1        1      1     1      1      1        1
               2010-2014       1        1      1     1      1      1        1
               2015-2019       1        1      1     1      1      1        1
Archer Heights 2005-2009       1        1      1     1      1      1        1
               2010-2014       1        1      1     1      1      1        1
...                          ...      ...    ...   ...    ...    ...      ...
West Town      2010-2014       1        1      1     1      1      1        1
               2015-2019       1        1      1     1      1      1        1
Woodlawn       2005-2009       1        1      1     1      1      1        1
               2010-2014       1        1      1     1      1      1        1
               2015-2019       1        1      1     1      1      1        1

                           POP_HH
GEOG           timeperiod
Albany Park    2005-2009        1
               2010-2014        1
               2015-2019        1
Archer Heights 2005-2009        1
               2010-2014        1
...                           ...
West Town      2010-2014        1
               2015-2019        1
Woodlawn       2005-2009        1
               2010-2014        1
               2015-2019        1

[231 rows x 18 columns]

In [61]:
df_merged= pd.merge(df_byperiod,controls,how="left",on=['GEOG','timeperiod'])

In [62]:
df_merged.head()

,timeperiod,GEOG,crimes,coffeeshops,INC_LT_25K,INC_25_50K,INC_50_75K,INC_75_100K,INC_100_150K,INC_GT_150,...,BACH,EMP,UNEMP,TOT_POP,WHITE,HISP,BLACK,ASIAN,MED_AGE,POP_HH
0,2005-2009,Albany Park,1072.0,131.000000,4781.000000,3986.000000,2966.000000,2003.000000,1748.000000,1320.000000,...,9203.000000,27319.000000,3052.000000,53897.00000,15844.000000,28257.000000,2177.000000,6710.000000,31.379323,52775.00000
1,2005-2009,Archer Heights,469.0,74.181818,754.205357,1387.696429,814.062500,357.625000,279.000000,141.933036,...,725.548708,5496.034931,1081.759545,13408.35388,2995.061630,9916.870775,210.469185,209.952286,28.941676,13398.35388
2,2005-2009,Armour Square,614.0,72.000000,2835.711009,1085.912844,641.697248,354.940367,329.165138,127.376147,...,2068.490424,5880.601113,1180.585529,13764.29367,1560.087638,651.876959,1680.000000,9201.634939,41.704547,13757.29367
3,2005-2009,Ashburn,1501.0,10.000000,2120.000000,2568.000000,2467.000000,2099.000000,2544.000000,982.000000,...,5184.000000,18862.000000,2505.000000,42788.00000,7152.000000,13148.000000,22047.000000,121.000000,35.097238,42292.00000
4,2005-2009,Auburn Gresham,4710.0,12.500000,7161.000000,4655.000000,2767.000000,1395.000000,816.000000,379.000000,...,3763.000000,15369.000000,6078.000000,49634.00000,135.000000,484.000000,48680.000000,77.000000,36.229851,49561.00000

In [63]:
import statsmodels.api as sm
import statsmodels.formula.api as smf

smf.ols(
    "crimes ~ coffeeshops+ C(timeperiod) + GEOG + TOT_POP+ WHITE+HISP+ BLACK+ ASIAN+POP_HH+ EMP+UNEMP+INC_LT_25K+INC_25_50K+INC_50_75K+INC_75_100K+INC_100_150K+INC_GT_150+MEDINC",
    data=df_merged,
).fit().summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 crimes   R-squared:                       0.924
Model:                            OLS   Adj. R-squared:                  0.871
Method:                 Least Squares   F-statistic:                     17.42
Date:                Fri, 03 Dec 2021   Prob (F-statistic):           1.20e-44
Time:                        12:48:35   Log-Likelihood:                -1628.7
No. Observations:                 225   AIC:                             3443.
Df Residuals:                     132   BIC:                             3761.
Df Model:                          92
Covariance Type:            nonrobust
==================================================================================================
                                     coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------
Intercept                       1042.3019   2272.968      0.459      0.647   -3453.854    5538.458
C(timeperiod)[T.2010-2014]      -755.2757     87.673     -8.615      0.000    -928.702    -581.850
C(timeperiod)[T.2015-2019]      -962.4836    139.301     -6.909      0.000   -1238.034    -686.933
GEOG[T.Archer Heights]         -1102.0385   1642.197     -0.671      0.503   -4350.467    2146.390
GEOG[T.Armour Square]          -2569.4587   1824.605     -1.408      0.161   -6178.708    1039.790
GEOG[T.Ashburn]                -4254.0688   1289.789     -3.298      0.001   -6805.398   -1702.739
GEOG[T.Auburn Gresham]         -9158.3660   2394.796     -3.824      0.000   -1.39e+04   -4421.223
GEOG[T.Austin]                 -1.248e+04   3408.000     -3.662      0.000   -1.92e+04   -5740.238
GEOG[T.Avalon Park]            -3440.5920   1995.609     -1.724      0.087   -7388.105     506.921
GEOG[T.Avondale]                 -96.7710    803.533     -0.120      0.904   -1686.239    1492.697
GEOG[T.Belmont Cragin]          2083.5429   1449.217      1.438      0.153    -783.152    4950.238
GEOG[T.Beverly]                -2933.9736   1441.510     -2.035      0.044   -5785.423     -82.524
GEOG[T.Bridgeport]             -2554.8083   1154.637     -2.213      0.029   -4838.794    -270.822
GEOG[T.Brighton Park]           -278.7351    944.426     -0.295      0.768   -2146.903    1589.433
GEOG[T.Burnside]               -1816.9470   2143.078     -0.848      0.398   -6056.167    2422.273
GEOG[T.Calumet Heights]        -4375.9525   1931.468     -2.266      0.025   -8196.587    -555.318
GEOG[T.Chatham]                -6555.5052   2146.054     -3.055      0.003   -1.08e+04   -2310.399
GEOG[T.Chicago Lawn]           -3844.8920   1457.958     -2.637      0.009   -6728.878    -960.906
GEOG[T.Clearing]                -443.8238   1158.088     -0.383      0.702   -2734.636    1846.988
GEOG[T.Douglas]                -3423.5147   1819.237     -1.882      0.062   -7022.145     175.116
GEOG[T.Dunning]                 1443.3344   1071.205      1.347      0.180    -675.616    3562.284
GEOG[T.East Garfield Park]     -3105.8704   2003.203     -1.550      0.123   -7068.403     856.662
GEOG[T.East Side]               -662.2734   1364.088     -0.486      0.628   -3360.574    2036.027
GEOG[T.Edgewater]              -1478.7321   1561.757     -0.947      0.345   -4568.043    1610.578
GEOG[T.Edison Park]            -2005.6308   1589.296     -1.262      0.209   -5149.416    1138.154
GEOG[T.Englewood]              -4088.0699   2092.265     -1.954      0.053   -8226.776      50.636
GEOG[T.Forest Glen]            -2157.2388   1374.884     -1.569      0.119   -4876.896     562.418
GEOG[T.Fuller Park]            -1257.4160   2159.533     -0.582      0.561   -5529.185    3014.353
GEOG[T.Gage Park]                139.2147   1183.032      0.118      0.907   -2200.940    2479.369
GEOG[T.Garfield Ridge]           342.3762    967.000      0.354      0.724   -1570.445    2255.197
GEOG[T.Grand Boulevard]        -4893.2526   1979.155     -2.472      0.015   -8808.216    -978.289
GEOG[T.Greater Grand Crossing] -5554.2414   2124.787     -2.614      0.010   -9757.280   -1351.203
GEOG[T.Hegewisch]              -1469.6172   1732.862     -0.848      0.398   -4897.390    1958.156
GEOG[T.Hermosa]                 -795.5592   1369.242     -0.581      0.562   -3504.054    1912.936
GEOG[T.Humboldt Park]          -2227.7155   1292.415     -1.724      0.087   -4784.240     328.809
GEOG[T.Hyde Park]              -1901.4646   1306.416     -1.455      0.148   -4485.686     682.756
GEOG[T.Irving Park]              394.5514    776.852      0.508      0.612   -1142.139    1931.242
GEOG[T.Jefferson Park]          -431.4677   1055.072     -0.409      0.683   -2518.504    1655.569
GEOG[T.Kenwood]                -4355.3642   1775.808     -2.453      0.015   -7868.088    -842.640
GEOG[T.Lake View]               3094.6547   4270.825      0.725      0.470   -5353.460    1.15e+04
GEOG[T.Lincoln Park]            3068.7479   2270.328      1.352      0.179   -1422.185    7559.681
GEOG[T.Lincoln Square]          -558.7972    902.583     -0.619      0.537   -2344.195    1226.600
GEOG[T.Logan Square]            1742.9119   1652.206      1.055      0.293   -1525.316    5011.140
GEOG[T.Loop]                    1.508e-13   1.36e-13      1.106      0.271   -1.19e-13     4.2e-13
GEOG[T.Lower West Side]         -890.0980   1033.031     -0.862      0.390   -2933.536    1153.340
GEOG[T.Mckinley Park]            1.66e-12   2.33e-12      0.714      0.477   -2.94e-12    6.26e-12
GEOG[T.Montclare]              -1280.1587   1609.231     -0.796      0.428   -4463.377    1903.059
GEOG[T.Morgan Park]            -3895.8319   1602.964     -2.430      0.016   -7066.654    -725.010
GEOG[T.Mount Greenwood]         -869.8635   1377.044     -0.632      0.529   -3593.793    1854.066
GEOG[T.Near North Side]          894.1542   3999.402      0.224      0.823   -7017.058    8805.366
GEOG[T.Near South Side]        -3982.9739   1394.527     -2.856      0.005   -6741.486   -1224.462
GEOG[T.Near West Side]         -1750.4772   1601.573     -1.093      0.276   -4918.547    1417.593
GEOG[T.New City]               -1106.0665   1134.102     -0.975      0.331   -3349.433    1137.300
GEOG[T.North Center]            -384.4871   1122.554     -0.343      0.733   -2605.010    1836.036
GEOG[T.North Lawndale]         -4766.5624   2043.748     -2.332      0.021   -8809.297    -723.827
GEOG[T.North Park]             -1318.2339   1337.714     -0.985      0.326   -3964.365    1327.897
GEOG[T.Norwood Park]            1210.1833   1191.979      1.015      0.312   -1147.669    3568.036
GEOG[T.O'Hare]                 -1115.2472   1462.515     -0.763      0.447   -4008.247    1777.753
GEOG[T.Oakland]                -2690.6729   2073.830     -1.297      0.197   -6792.913    1411.568
GEOG[T.Portage Park]            2192.3971   1327.453      1.652      0.101    -433.437    4818.231
GEOG[T.Pullman]                -2869.0582   1976.811     -1.451      0.149   -6779.386    1041.270
GEOG[T.Riverdale]              -2082.4170   2137.763     -0.974      0.332   -6311.123    2146.289
GEOG[T.Rogers Park]            -1774.9537   1384.137     -1.282      0.202   -4512.913     963.006
GEOG[T.Roseland]               -8107.7014   2183.251     -3.714      0.000   -1.24e+04   -3789.016
GEOG[T.South Chicago]          -4606.6061   1828.250     -2.520      0.013   -8223.065    -990.147
GEOG[T.South Deering]          -3036.0420   1833.578     -1.656      0.100   -6663.040     590.956
GEOG[T.South Lawndale]          3598.2173   2617.367      1.375      0.172   -1579.193    8775.628
GEOG[T.South Shore]            -9966.3290   2711.238     -3.676      0.000   -1.53e+04   -4603.232
GEOG[T.Uptown]                 -1692.4240   1676.383     -1.010      0.315   -5008.476    1623.628
GEOG[T.Washington Heights]     -6432.9283   1993.156     -3.228      0.002   -1.04e+04   -2490.269
GEOG[T.Washington Park]        -2529.5620   2052.663     -1.232      0.220   -6589.933    1530.809
GEOG[T.West Elsdon]             -907.9892   1471.983     -0.617      0.538   -3819.717    2003.738
GEOG[T.West Englewood]         -5112.1914   2043.015     -2.502      0.014   -9153.477   -1070.906
GEOG[T.West Garfield Park]     -2835.0173   2030.724     -1.396      0.165   -6851.991    1181.956
GEOG[T.West Lawn]               -113.9503   1142.714     -0.100      0.921   -2374.352    2146.451
GEOG[T.West Pullman]           -6030.6225   1978.516     -3.048      0.003   -9944.323   -2116.922
GEOG[T.West Ridge]              -827.4787   1623.088     -0.510      0.611   -4038.108    2383.151
GEOG[T.West Town]               2857.1972   2603.216      1.098      0.274   -2292.220    8006.615
GEOG[T.Woodlawn]               -3754.5432   1929.255     -1.946      0.054   -7570.801      61.714
coffeeshops                        0.0349      0.828      0.042      0.966      -1.603       1.673
TOT_POP                           -0.4407      0.335     -1.314      0.191      -1.104       0.223
WHITE                             -0.1177      0.186     -0.634      0.527      -0.485       0.249
HISP                              -0.0172      0.186     -0.092      0.927      -0.386       0.352
BLACK                              0.2334      0.188      1.240      0.217      -0.139       0.606
ASIAN                              0.1638      0.209      0.785      0.434      -0.249       0.576
POP_HH                             0.3244      0.284      1.143      0.255      -0.237       0.886
EMP                                0.1076      0.098      1.103      0.272      -0.085       0.300
UNEMP                              0.0625      0.098      0.639      0.524      -0.131       0.256
INC_LT_25K                         0.1648      0.149      1.109      0.269      -0.129       0.459
INC_25_50K                         0.4926      0.180      2.741      0.007       0.137       0.848
INC_50_75K                         0.1324      0.233      0.569      0.570      -0.328       0.593
INC_75_100K                       -0.2691      0.295     -0.912      0.364      -0.853       0.315
INC_100_150K                       0.0147      0.292      0.050      0.960      -0.564       0.593
INC_GT_150                         0.1273      0.168      0.759      0.449      -0.205       0.459
MEDINC                             0.0315      0.011      2.805      0.006       0.009       0.054
==============================================================================
Omnibus:                       32.796   Durbin-Watson:                   1.726
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              188.605
Skew:                           0.285   Prob(JB):                     1.11e-41
Kurtosis:                       7.449   Cond. No.                     1.49e+23
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 6.9e-35. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [65]:
df_merged.columns

Index(['timeperiod', 'GEOG', 'crimes', 'coffeeshops', 'INC_LT_25K',
       'INC_25_50K', 'INC_50_75K', 'INC_75_100K', 'INC_100_150K', 'INC_GT_150',
       'MEDINC', 'HS', 'BACH', 'EMP', 'UNEMP', 'TOT_POP', 'WHITE', 'HISP',
       'BLACK', 'ASIAN', 'MED_AGE', 'POP_HH'],
      dtype='object')

In [66]:
df_merged['AsianPerc']= df_merged.ASIAN / df_merged.TOT_POP
df_merged['BlackPerc']= df_merged.BLACK / df_merged.TOT_POP
df_merged['HispPerc']= df_merged.HISP / df_merged.TOT_POP
df_merged['WhitePerc']= df_merged.WHITE / df_merged.TOT_POP
df_merged['UnemployedPerc']= df_merged.UNEMP / df_merged.TOT_POP
df_merged['EmployedPerc']= df_merged.EMP / df_merged.TOT_POP
df_merged['Inc25k']= df_merged.INC_LT_25K / df_merged.TOT_POP
df_merged['Inc50k']= df_merged.INC_25_50K / df_merged.TOT_POP
df_merged['Inc75k']= df_merged.INC_50_75K / df_merged.TOT_POP
df_merged['Inc100k']= df_merged.INC_75_100K / df_merged.TOT_POP
df_merged['Inc150k']= df_merged.INC_100_150K / df_merged.TOT_POP
df_merged['Inc_gt150k']= df_merged.INC_GT_150 / df_merged.TOT_POP
df_merged['HSperc']= df_merged.HS / df_merged.TOT_POP
df_merged['BACHperc']= df_merged.BACH / df_merged.TOT_POP

In [67]:
df_merged.head()

,timeperiod,GEOG,crimes,coffeeshops,INC_LT_25K,INC_25_50K,INC_50_75K,INC_75_100K,INC_100_150K,INC_GT_150,...,UnemployedPerc,EmployedPerc,Inc25k,Inc50k,Inc75k,Inc100k,Inc150k,Inc_gt150k,HSperc,BACHperc
0,2005-2009,Albany Park,1072.0,131.000000,4781.000000,3986.000000,2966.000000,2003.000000,1748.000000,1320.000000,...,0.056627,0.506874,0.088706,0.073956,0.055031,0.037163,0.032432,0.024491,0.432770,0.170752
1,2005-2009,Archer Heights,469.0,74.181818,754.205357,1387.696429,814.062500,357.625000,279.000000,141.933036,...,0.080678,0.409896,0.056249,0.103495,0.060713,0.026672,0.020808,0.010585,0.369508,0.054112
2,2005-2009,Armour Square,614.0,72.000000,2835.711009,1085.912844,641.697248,354.940367,329.165138,127.376147,...,0.085772,0.427236,0.206019,0.078893,0.046620,0.025787,0.023914,0.009254,0.468830,0.150279
3,2005-2009,Ashburn,1501.0,10.000000,2120.000000,2568.000000,2467.000000,2099.000000,2544.000000,982.000000,...,0.058544,0.440825,0.049547,0.060017,0.057656,0.049056,0.059456,0.022950,0.514326,0.121155
4,2005-2009,Auburn Gresham,4710.0,12.500000,7161.000000,4655.000000,2767.000000,1395.000000,816.000000,379.000000,...,0.122456,0.309647,0.144276,0.093787,0.055748,0.028106,0.016440,0.007636,0.506145,0.075815

In [68]:
os.getcwd()
os.chdir('/Users/sarwaridas/Desktop/IDS 702/Final Project/ids720_CoffeeAndCrimes/02_processed_data')

In [69]:
df_merged.to_csv("coffee_crime_controls_revised.csv")